*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header img{
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
    width: 70px;
    margin-left: 110px;
}
body{
    background: black;

}
 header ul{
    display: flex;
    align-items: center;
    
}
header {
    padding: 15px 20px;
    list-style: none;
    display: flex;
    align-items:center ;
    justify-content: space-between; 
    margin: auto;  
    cursor: pointer;

}
header ul li{
    margin-right: 20px;
  
}
header button{
    border-radius: 50px;
    width: 80px;
    height:30px;
    font-family: poppins sans-serif;
    margin-right: 110px;
}
header a{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
img{
    width: 500px;
   background-color:black;
}
section{
    padding: 50px;
    margin: auto;
    border: 60px white;
    box-shadow: 1px 1px 8px white;
    width: 1250px;
    /* height: 100px; */
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section h1 {
    color: white;
    font-weight: 800;
    font-size: 60px;
    font-family: "poppins", sans-serif;
    font-style: medium;
}
p{
    color: white;
    font-size: 18px;

    
}
#great{
    border-radius: 30px;
    width: 100px;
    height:30px;
    font-family: poppins sans-serif;
    border: 1px solid white;
    margin-top: 30px;
}
#small{
    border-radius: 30px;
    width: 100px;
    height:30px;
    font-family: poppins sans-serif;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-bottom: 30px;
}



