*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding: 50px;
    background-color: aqua;
    border: 60px solid purple;
    margin-left: 60px;
}

p{
    padding: 60px;
    background-color: aqua;
    border: 60px solid purple;
    margin-right: 60px;

}