*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    padding: 50px;
    border: 50px;
    border-radius:20px ;
    text-align: center;
    margin: 0;
    background-color: white;
    box-shadow: 1px 1px 8px black;
    margin-top: 150px;
    
}

.container2{
    width: 400px;
    padding: 50px;
    border: 50px;
    text-align: center;
    border-radius:20px ;
    margin: 0;
    background-color: white;
    box-shadow: 1px 1px 8px black;
    margin-top: 150px;

}

img{
    border-radius:100px;
    margin-bottom: 20px;
}
img{
    border-radius:100px;
}

button{
    width: 130px;
    height: 40px;
    padding: 10px;
    border: 30px;
    font-size:15px ;
    background-color: rgb(7, 85, 158);
    color: white;
    margin-top: 30px;
    border-radius: 10px;
}
h2{
    margin-bottom: 20px;
}
p{
    font-family:sans-serif ;
}
.fullcontainer{
    display: flex;
    justify-content: center;
    gap:40px;
    margin: auto;
    margin-bottom: 80px;

}