*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding:20px;
    background-color:white ;
    border: 150px;
    box-shadow:1px 1px 8px black ;
    border-radius:20px ;
    margin-top: 100px ;
    text-align: center;
    width: 350px;
    margin:100px;
    height: auto;
} 
.container2{
    margin: 100px;
    padding: 20px;
    background-color:white ;
    border:150px ;
    box-shadow:1px 1px 8px black ;
    border-radius:20px ;
    margin-top: 100px ;
    text-align: center;
    width: 350px;
    height: auto;
}
p{
    margin-top: 30px;
    font-family: sans-serif;
    font
}
    
img{
    width: 200px ;
    border-radius: 100px;

}
.fullcontainer{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: auto;
}
button{
    margin: auto;
    background-color: aqua;
    border: 20px;
    width:100px;
    height: 30px;
    margin-top:30px ;
}
/* .grid-test {
  display: grid;
  background: black;
  padding: 20px;
}

.item {
  background: orange;
  color: white;
  padding: 20px;
  border: 2px solid white;
} */
