*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, rgb(241, 226, 7),orange);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    gap: 20px;
    position: fixed;
    top: 0;
    

}
header img{
    width: 120px;
}
ul{
    display: flex;
    list-style: none;
}

ul li{
    margin-right: 20px;
}
ul li a{
    text-decoration: none;
    color: black;
    
}
header button{
    color: black;
    background: none;
    height: 30px;
    width: 80px;
    margin-right: 200px;
    color: rgb(66, 15, 15);
    border-radius: 10px;
    box-shadow: 1px 1px 8px black;
}
section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
section img{
    width: 500px;
}
section h1{
    padding: 20px;
    font-weight: 700;
    font-size: 70px;
    font-style: inherit;
    font-family: "jost", sans-serif;
}
section p{
    padding: 20px;
    font-size: 20px;
}
#us{
      background: rgba(24, 3, 3, 0.555);
      color: white;
      width: 90px;
      height: 40px;
      border-radius: 10px;
      margin-left: 20px;
}
#me{
      background: none;
      color: rgb(66, 15, 15);
      width: 90px;
      height: 40px;
      border-radius: 10px;
      margin-left: 20px;
       box-shadow: 1px 1px 8px black;
}
.why{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 30px;
    align-items: center;
    /* padding: 40px; */
}
.second img{
    width: 280px;
}
.second{
    padding: 5px;
    width: 250px;
    border: 50px;
    background: none;
    box-shadow: 1px 1px 8px black;
    border-radius: 20px;
    margin-right: 30px;
     background: linear-gradient(to top,orange,rgb(243, 228, 159));
    height: 320px;
}
.third img{
    width: 100px;
    margin-left: 70px;
}
.third{
    padding: 5px;
    width: 250px;
    border: 50px;
    background: none;
    box-shadow: 1px 1px 8px black;
    border-radius: 20px;
    margin-right: 30px;
    height: 320px;
     background: linear-gradient(to top,orange,rgb(243, 228, 159));
    align-items: center;
    margin-top: 100px;
}
.fourth img{
    width: 300px;
}
.fourth{
    padding: 5px;
    width: 250px;
    border: 50px;
    background: none;
    box-shadow: 1px 1px 8px black;
    border-radius: 20px;
    margin-right: 30px;
    height: 320px;
     background: linear-gradient(to top,orange,rgb(243, 228, 159));
    align-items: center;
}
section h1 p{
    margin: 0;
}
.the{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 20px;
    padding: 30px;
}
#the img{
    width: 220px;
    margin-left: 30px;
}
#the{
    padding: 5px;
    width: 300px;
    border: 50px;
    background: none;
    box-shadow: 1px 1px 8px black;
    border-radius: 20px;
    margin-right: 30px;
    background: linear-gradient(to top,orange,white);
    height: 370px
    
}
.rotate{
    transform: rotate(90deg);
     max-width: 50%;
    /* max-height: 40%; */
    object-fit: contain;
}
.form{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 20px;
    
}
.footer input{
      width: 250px;
    padding: 6px 12px;
    display: block;
    margin: 1px 0;
    border-radius: 12px;
    border: none;
}
.one{
     width: 300px;
    height: 100px;
    border: none;
    padding: 6px 12px;
    border-radius: 12px;
    display: block;
}
button{
    background: orange;
    width: 100px;
    border-radius:5px;
    border: none;
    height: 50px;
    
}
.form img{
    width: 200px;
}