*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(bg1.png);

}
header{
    margin: auto;
    display: flex;
    padding: 10px, 15px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
header img{
    width: 120px;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
header ul li{
    margin-right: 20px;
}
header a{
    align-items: center;
    text-decoration: none;
    color: white;
    list-style: none;
    display: flex;
}
header button{
    margin-right: 20px;
    border-radius: 30px;
    width: 70px;
    height: 40px;
    background-color: yellow;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px, 44px;
    margin: 36px
}
section h1{
    font-weight: 700;
    font-size: 70px;
    color: white;
    /* align-items: center; */

}
 section h1 span{
    font-weight: 300; 
}
section img{
    width: 500px;
    
}
section p{
    margin-top: 20px;
    font-size: 30px;
    
}
#the{
    margin-top: 30px;
    border-radius: 30px;
    background: yellow;
    border: 1px solid white;
    height: 30px;
    width: 140px;
}
#me{
    margin-top: 30px;
    border-radius: 30px;
    background: purple;
    border: 1px solid white;
    height: 30px;
    width: 100px;
}
